@font-face {
	font-family: 'Ubuntu';
	src: url(https://fonts.googleapis.com/css? family=Ubuntu:400,300italic,500);
}
body {
	background-color: #70cef0;
}
h1 {
	text-align: center;
	color: #ddf4fc;
	font-family: 'Ubuntu', sans-serif;
	font-size: 120px;
	font-weight: 100;
	margin: 20px 0px;
}
.container {
	text-align: center;
	overflow: hidden;
}
.title ul li {
	font-family: 'Ubuntu', sans-serif;
	display: inline-block;
	border-radius: 50px;
	padding: 10px 0px;
	margin: 5px;
	border: #fff solid 2px;
}
li a {
	text-decoration: none;
	color: #fff;
  	padding: 10px 20px;
}
li a:hover{
  	background: #fff;
  	color: #1db8e8;
  	border-radius: 50px;
}
#map {
	margin-top: 40px;
}